---
import Layout from '../layouts/Layout.astro';
import Container from '../components/atoms/Container.astro';
import Text from '../components/atoms/Text.astro';
import Divider from '../components/atoms/Divider.astro';
---

<Layout>
  <slot name="head">
    <title>virtoza.daily</title>
  </slot>

  <Container class="py-12 space-y-8">
    <section class="space-y-2">
      <Text as="h1" size="2xl" weight="700">Welcome.</Text>
      <Text as="p" size="sm" weight="400" class="text-neutral-500">
        Minimal black & white space.
      </Text>
    </section>

    <Divider />

    <section class="space-y-4">
      <Text as="h2" size="lg" weight="600">Posts</Text>
      <Text as="p" size="sm" class="text-neutral-400">
        No posts yet. Content coming soon.
      </Text>
    </section>
  </Container>
</Layout>
